.Dashboard__Table__Panel__Layout {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.Dashboard__Table__Panel__Layout__header {
  display: flex;
  justify-content: space-between;
  flex: none;
  height: 54px;
  border-bottom: 1px solid #dddddd;
}

.Dashboard__Table__Panel__Layout__body {
  display: flex;
  flex: 1;
}

.Dashboard__Table__Panel__Layout__table {
  display: flex;
  flex: 1;
}
