body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

#container {
  position:absolute;
  width: 50%;
  height: 50%;
  margin-left:25%;
  margin-right:auto;
  padding-top: 5%;
}

h2 {
  color: #fff;
  font-size: 26px;
  line-height: 34px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 5%;
  padding-left: 3%;
  height: 2.5em;
  cursor: pointer;
  background-color: rgb(157, 62, 174);
  border-bottom: 5px solid rgb(110, 43, 123);
}

h2:hover {
  background-color: rgb(130, 35, 147);
  border-bottom-color: rgb(80, 16, 96);
}

p {
  opacity: 0;
  color: rgb(143, 143, 143);
  font-size: 19px;
  font-weight: 350;
  line-height: 23px;
  padding: 4%;
  margin: 0;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
  border: 2px solid rgb(235, 235, 235);
  transition: opacity 500ms linear;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: .5%;
  max-height: 6.7em;
  overflow: hidden;
}

li.selected {
  max-height: 50em;
}

li.selected h2 {
  background-color: rgb(104, 72, 180);
  border-bottom-color: rgb(76, 52, 131);
}

li.selected p {
  opacity: 1;
}

li.selected span {
  transform-origin: 1px 8px;
  transform: rotate(180deg);
}

li:hover:not(.selected) {
  transform: translateX(10px);
}

span {
  position: absolute;
  margin-top: 2%;
  right: 5%;
  z-index: 2;
}

span:before,
span:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 30% 30% 0 0;
  width: 3px;
  height: 16px;
}

span:before {
  transform: translate(2px, 0) rotate(45deg);
}

span:after {
  transform: translate(-7px, 0) rotate(-45deg);
}

#container, li, span {
  transition: all 500ms ease-in-out;
}

@media (max-width: 700px) {
  #container {
    width: 80%;
    height: 80%;
    margin-left:10%;
  }

  li {
    max-height: 6.1em;
  }
}
