.Map__Component__footer {
    flex: 1;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #ffffff;
    border-top: 2px solid rgb(62, 184, 241);
}

.Loading .Loader {
    width: 100%;
    height: 100%;
}