.Table__Component__Pagination__Input__wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 2px solid rgb(62, 184, 241);
}

.Table__Component__Pagination__Input__pagination {
    list-style-type: none;
    margin: 0 50% 0 auto;
    display: inline-block;
    height: 35px;
    padding: 0;
}

.Table__Component__Pagination__Input__Pagination__item {
    float: left;
}

.Table__Component__Pagination__Input__pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.Table__Component__Pagination__Input__active {
    background-color: rgb(62, 184, 241);
    color: white !important;
    border: 1px solid rgb(62, 184, 241);
}

.Table__Component__Pagination__Input__disabled {
    display: none;
}

.Table__Component__Pagination__Input__pagination a:hover:not(.active) {
    background-color: #ddd;
}